.descriptionBlock {
   padding: 10px;
   box-shadow: 0 0 15px rgba(43, 41, 41, 0.5);
}

.mainPhoto{
    max-width: 200px;
     margin-top: -120px; 
    border-radius: 110px;
    border:3px solid white;
}
.avatar{
    display: flex;
    justify-content: center;
}
.contact{
    padding-left: 10px;
}
.label{
    cursor:pointer;
    position: relative;
}
.input{
    display: none
}
.span{
    padding-top: 90px;
    position: absolute;
    top: 0;
    left: 3px;
    width: 97%;
    height: 100%;
    background-color: rgba(53, 53, 53, 0.5);
    color:rgb(255, 255, 255);
    margin-top: -116px;
    padding-bottom: 19px;
    border-radius: 105px;
    text-align: center;
    opacity: 0;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}
.avatar label:hover .span {
    opacity: 1;
}
.name{
    padding-bottom: 15px;
    font-size: 25px;
    text-align: center;
}
.statusContainer{
    display: flex;
    justify-content: center;
}

.infoMe{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-right: 10px;
}
.info{
    padding: 15px;
    border-bottom:1px solid rgb(177, 31, 41);
    border-radius: 20px;
    margin-bottom: 30px;
}
.btn{
    display:flex;
    padding-top: 15px ;
    justify-content: center;
    
}
.contact{
    padding: 3px;
    text-align: center;
}
.edit, .save {
    background: #e97638;
    border: none;
    border-radius: 10px;
    color: #fff;
    font: 600 14px 'Bradley Hand', cursive;
    margin: 1rem;
    outline: none;
    padding: 10px 10px;
    vertical-align: middle;
    cursor: pointer;
}

.edit:hover, .save:hover{
    background: rgb(240, 60, 6);
}

